language: R

install:
  - Rscript -e 'install.packages("bookdown")'
script:
  - Rscript -e 'bookdown::render_book("index.md")'

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: docs
  on:
    branch: master
